article
  width: 100%
  min-height: 750px
  background-color: #E5E5E5
  padding: 30px

.ads
  background-color: white
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05)
  padding: 50px
  margin-bottom: 60px
  width: 750px
  
.ads-box
  margin-left: 20px
  
.step-box, .arrow-box, .steps, .step-title
  margin: 15px
  
.step-title
  color: #858585
  
.option-title
  font-size: 16px
  color: #858585
  line-height: 200%
  font-weight: 500
  
input
  height: 35px
  width: 175px
  box-shadow: 1px 1px 1px 1px #c2eaeb
  border: none
  color: #FF7474
  opacity: .8
    
.title-input
  width: 600px
  
.grn-div
  margin-left: 10px
  
select
  height: 35px
  width: 175px
  box-shadow: 1px 1px 1px 1px #c2eaeb
  border: none
  color: #FF7474
  opacity: .8
  
textarea
  box-shadow: 1px 1px 1px 1px #c2eaeb
  border: none
  color: #FF7474
  opacity: .8
  resize: none
  
.option-locate
  margin: 10px
  
.option-div-title
  margin-left: 10px
  
.option
  margin-top: 25px